<header class="header type<%=type%>">
    <div class="page">
		<%= "i'm Daniele Bottillo" unless type !=0 %>
	    <nav>
			<div>
				<a href="http://blog.danielebottillo.com" target="_blank">Blog</a>
			</div>
	        <div id="<%= 'toWork' if type == 0 %>" class="<%= 'active' if type == 1 %>">
				Portfolio
			</div>	
			<div id="<%= 'toHome' if type == 1 %>" class="<%= 'active' if type == 0 %>">
				About Me
			</div>
	    </nav>
    </div>
</header>