<!--<header class="header type<%=type%>">
	<%= "i'm Daniele Bottillo" unless type !=0 %>
    <nav>
        <a href="/index.html" id="index">
            <div class="<%= 'active' unless type != 0%>">&lt;Me&gt;</div>
        </a>
        <a href="/portfolio.html" id="portfolio">
            <div class="<%= 'active' unless type != 1%>">&lt;Portfolio&gt;</div>
        </a>
        <a href="/social.html" id="social">
            <div class="<%= 'active' unless type != 2%>">&lt;Curriculum&gt;</div>
        </a>
    </nav>
 	<%= "i'm Daniele Bottillo" unless type !=1 %>
</header>
<div class="divider">	
	<span><%= "About me" unless type !=0 %></span>
	<span><%= "My Work" unless type !=1 %></span>
</div>

-->

<header class="header <%= "type1" if type ==1 %>">
    <div class="page">
		<%= "i'm Daniele Bottillo" if type ==0 %>
	    <nav>
			<div class="toCV <%= "active" if type ==2 %>">
				Curriculum
			</div>
	        <div class="toWork <%= "active" if type ==1 %>">
				Portfolio
			</div>	
			<div class="toHome <%= "active" if type ==0 %>">
				About Me
			</div>
	    </nav>
    </div>
</header>

<!--<header class="header type1">
    <div class="page">
	    <nav>
	        <div class="active">
				Portfolio
			</div>	
			<div id="toHome">
				About Me
			</div>
	    </nav>
    </div>
</header>-->