<header class="header type<%=type%>">
	<%= "i'm Daniele Bottillo" unless type !=0 %>
    <nav>
        <!--<a href="/index.html" id="index">
            <div class="<%= 'active' unless type != 0%>">&lt;Me&gt;</div>
        </a>
        <a href="/portfolio.html" id="portfolio">
            <div class="<%= 'active' unless type != 1%>">&lt;Portfolio&gt;</div>
        </a>
        <a href="/social.html" id="social">
            <div class="<%= 'active' unless type != 2%>">&lt;Curriculum&gt;</div>
        </a>
    </nav>-->
 	<%= "i'm Daniele Bottillo" unless type !=1 %>
</header>
<div class="divider">	
	<span><%= "About me" unless type !=0 %></span>
	<span><%= "My Work" unless type !=1 %></span>
</div>
