<!DOCTYPE>
<html>
    <%= render :partial => "head", :locals => { :type => 0 } %>
    
    <body>
        
        <div class="container">
	
			<div id="home">
	        	
				<header class="header">
					i'm Daniele Bottillo
				    <nav>
				        <div id="toWork">
							Portfolio
						</div>	
						<div class="active">
							About Me
						</div>
				    </nav>
				</header>
<!--				<div class="divider">	
					<span><%= "About me" unless type !=0 %></span>
					<span><%= "My Work" unless type !=1 %></span>
				</div>-->
	

			
				<div class="left">
					<div>
						<b>Email</b>: dbottillo[at]gmail[dot]com <br/>
						<b>Location</b>: Bologna, ITALY
					</div>
					<!--<a href="#work" id="toWork">
						My Work
					</a>-->
				<!--	<div id="toWork">
						MyWork
					</div>-->

				</div>
			
				<div class="right">
					<span class="titleBig">Hello! I am Daniele</span><br/><br/>
					I was born in Bologna, Italy where actually i'm working. I have a degree in Computer Science.
					<br/><br/><br/>
					<span class="titleBig">My Skills</span><br/><br/>
					I specialize in web and mobile development. I’m an expert of several of web languages: Javascript, HTML, CSS, PHP,  RubyOnRails, etc... . 
					I’m also a Sencha developer and i know Java, Android and Objective C for the mobile world.
				</div>
			

			
			</div>
			
			
        	<%= render :partial => "portfolio" %>
        
        	<%= render :partial => "footer", :locals => { :type => 0 } %>

		</div>
    </body>
</html>
