<!DOCTYPE>
<html>
    <%= render :partial => "shared/head"%>
    
    <body>
	
		<%= render :partial => "shared/header"%>
	
		<%= render :partial => "shared/top" %>

		<%= render :partial => "shared/middle" %>

		<%= render :partial => "shared/footer" %>
		
    </body>
</html>
