<!DOCTYPE>
<html>
    <%= render :partial => "shared/head", :locals => { :type => 0 } %>
    
    <body>
        
        <div class="container">
	
			<div id="home">
	        	<%= render :partial => "shared/header", :locals => { :type => 0 }%>
	
				<%= render :partial => "shared/top" %>
	
                <%= render :partial => "shared/social" %>

			</div>
			
			
        	<%= render :partial => "shared/portfolio" %>
        
        	<%= render :partial => "shared/footer", :locals => { :type => 0 } %>

		</div>
    </body>
</html>
